<div class="chiropractic">
    <div class="container">
        <div class="information">
            <div class="start-block">
                <div class="strip"></div>
                <div class="start-block__section">
                    <h1 class="text">Healthy Spine Family Chiropractic</h1>
                    <p class="title">Healthy Spine Family Chiropractic was created for the necessity of custom made
                        chiropractic treatment for all ages. We understand that not all bodies are the same.</p>
                    <div class="chiropractic__button">Get In Touch Now</div>
                </div>
                <div class="start-block__media">
                    <a href="">
                        <div class="shape social"></div>
                    </a>
                    <a href="">
                        <div class="inst social"></div>
                    </a>
                    <a href="">
                        <div class="twitter social"></div>
                    </a>
                    <a href="">
                        <div class="facebook social"></div>
                    </a>
                </div>
                <div class="start-block__block-picture">
                    <div class="start-block__picture"></div>
                    <div class="start-block__picture-vector"></div>
                    <div class="start-block__main-shadow"></div>
                    <div class="start-block__main-shadow-picture"></div>
                </div>
            </div>
        </div>
    </div>
</div>