<div class="treatment">
    <div class="container">
        <div class="information">
            <div class="section-one">
                <div class="section-one__picture"></div>
                <div class="section-one__text">
                    <div class="strip"></div>
                    <h2 class="text">Comprehensive Pain Treatment</h2>
                    <p class="title">Healthy Spine Family Chiropractic was created for the necessity of custom made
                        chiropractic treatment for all ages. We understand that not all bodies are the same and
                        so your chiropractic treatment will be tailored to you. Healthy Spine Family
                        Chiropractic was created for the necessity of custom made chiropractic treatment for all
                        ages. We understand that not all bodies are the same and so your chiropractic treatment
                        will be tailored to you. Healthy Spine Family Chiropractic was created for the necessity
                        of custom made chiropractic treatment for all ages. We understand that not all bodies
                        are the same and so your chiropractic treatment will be tailored to you.</p>
                    <div class="treatment__button"></div>
                </div>
            </div>
        </div>
    </div>
</div>