<!-- 
        <div class="services">
                <div class="container">
                    <div class="informtaion">
                        <div class="section-two">
                            <div class="strip"></div>
                            <h2>Services</h2>
                            <div class="infromation-about">
                                <div class="Chiropractic">
                                    <div class="Chiropractic__picture"></div>
                                    <h3>Chiropractic</h3>
                                    <p>Chiropractic care is a unique science that focuses on restoring and maintaining
                                        health, while most other healing arts are designed to treat disease.</p>
                                    <div class="Chiropractic__links">
                                        <a href="">Chiropractic Adjustment</a>
                                        <a href="">Flexion-distraction</a>
                                        <a href="">Thompson</a>
                                        <a href="">View All Services</a>
                                    </div>
                                </div>
                                <div class="Acupuncture">
                                    <div class="Acupuncture__picture"></div>
                                    <h3>Acupuncture</h3>
                                    <p>Healthy Spine Family Chiropractic, serves the Thornton and surrounding communities
                                        and it provides a natural, conservative approach to your health care.</p>
                                    <div class="Acupuncture__links">
                                        <a href="">Cupping</a>
                                        <a href="">Chinese Herbs</a>
                                    </div>
                                </div>
                                <div class="Massage">
                                    <div class="Massage__picture"></div>
                                    <h3>Massage</h3>
                                    <p>Healthy Spine Family Chiropractic, serves the Thornton and surrounding communities
                                        and it provides a natural, conservative approach to your health care.</p>
                                    <div class="Massage__links">
                                        <a href="">Deep Tissue</a>
                                        <a href="">Trigger Point </a>
                                        <a href="">Sport Massage </a>
                                        <a href="">Myofascial Release</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->