<!-- <div class="advantages">
        <div class="container">
            <div class="informtaion">
                <div class="section-three">
                    <div class="strip"></div>
                    <h2></h2>
                    <p></p>
                    <div class="awards">
                        <div class="awards__one">
                            <div class="picture"></div>
                            <div class="text">
                                <h3></h3>
                                <p></p>
                            </div>
                        </div>
                        <div class="awards__two">
                            <div class="picture"></div>
                            <div class="text">
                                <h3></h3>
                                <p></p>
                            </div>
                        </div>
                        <div class="awards__three">
                            <div class="picture"></div>
                            <div class="text">
                                <h3></h3>
                                <p></p>
                            </div>
                        </div>
                        <div class="awards__four">
                            <div class="picture"></div>
                            <div class="text">
                                <h3></h3>
                                <p></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div> -->