<div class="advantages">
    <div class="container">
        <div class="advantages__block">
            <div class="strip"></div>
            <h2 class="main-title"></h2>
            <p class="main-text"></p>
            <div class="advantages__awards">
                <div class="advantages__awards-one">
                    <img src="" class="advantages__picture-one" alt="">
                    <div class="advantages__info">
                        <h3 class="title"></h3>
                        <p class="text"></p>
                    </div>
                </div>
                <div class="advantages__awards-two">
                    <img src="" class="advantages__picture-two" alt="">
                    <div class="advantages__info">
                        <h3 class="title"></h3>
                        <p class="text"></p>
                    </div>
                </div>
                <div class="advantages__awards-three">
                    <img src="" class="advantages__picture-three" alt="">
                    <div class="advantages__info">
                        <h3 class="title"></h3>
                        <p class="text"></p>
                    </div>
                </div>
                <div class="advantages__awards-four">
                    <img src="" class="advantages__picture-four" alt="">
                    <div class="advantages__info">
                        <h3 class="title"></h3>
                        <p class="text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>