.advantages {
  &__block {
    @media (max-width: 767px) {
      padding: 0 20px;
      grid-template-columns: repeat(1fr 4fr);
    }
    padding-top: 100px;
  }
  &__main-title {
    padding-bottom: 20px;
  }
  &__main-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
  }
  &__info {
    padding-left: 100px;
    grid-column-start: 2;
    grid-column-end: 8;
    width: 580px;
  }
  &__info-block {
    padding: 30px 40px 12px 60px;
  }
  &__awards {
    min-height: 145px;
    margin: 0 25px 40px 45px;
    position: relative;
    background: #bab5e4;
    box-shadow: 0px 0px 40px rgba(118, 157, 202, 0.15);
    border-radius: 10px;
  }
  &__awards-block {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    grid-column-start: 2;
    grid-column-end: 12;
  }
  &__main-title {
    position: relative;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 1px;
    &::before {
      position: absolute;
      content: "";
      width: 110px;
      height: 5px;
      background: #056cde;
      top: -35px;
      border-radius: 10px;
    }
  }
  .one {
    grid-column-start: 2;
    grid-column-end: 7;
  }
  .two {
    grid-column-start: 7;
    grid-column-end: 12;
  }
  .three {
    grid-column-start: 2;
    grid-column-end: 7;
  }
  .four {
    grid-column-start: 7;
    grid-column-end: 12;
  }
  h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #3a4959;
    margin: 0;
  }
  p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
}
