.header__button {
  padding: 10px 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 13.4px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3a4959;
  background: #ffce51;
  border-radius: 10px;
  :hover{
    opacity:0.5;
  }
  :active{
    background: blue;
  }
  @media (max-width: 1024px) {
    display: none;
  }
}
.chiropractic__button {
  padding: 15px;
  max-width: 310px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #056cde;
  border-radius: 10px;
  :active{
    background: blue;
  }
}
.treatment__button {
  max-width: 210px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #3a4959;
  background: #ffce51;
  border-radius: 10px;
  :active{
    background: blue;
  }
}
.Contact__button {
  padding: 10px 5px 10px 45px;
  background: #056cde;
  border-radius: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  :active{
    background: blue;
  }
}
.footer__button {
  margin-left: 35px;
  padding: 10px 65px 10px 65px;
  background: #ffce51;
  border-radius: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  :active{
    background-color:  blue;
  }
}
