.header__button {
  width: 210px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #3a4959;
  background: #ffce51;
  border-radius: 10px;
}
.chiropractic__button {
  width: 310px;
  height: 50px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #056cde;
  border-radius: 10px;
}