.chiropractic {
  &__block {
    @media (max-width: 767px) {
      padding: 0 20px;
      grid-template-columns: repeat(1fr 4fr);
    }
    padding: 14px 0 0 7px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
  }
  &__info {
    grid-column-start: 2;
    grid-column-end: 7;
  }
  &__title {
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 67px;
    letter-spacing: 1px;
    padding-bottom: 30px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 110px;
      height: 5px;
      background: #056cde;
      top: -35px;
      border-radius: 10px;
    }
  }
  &__text {
    max-width:480px;
    margin: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
  }
  .social-media {
    grid-column: 2/3;
    margin-top: -150px;
    display: flex;
    width: 150px;
    height: 30px;
  }
  &__block-picture {
    position: relative;
    grid-row-start: 1;
    grid-column-start: 7;
    grid-column-end: 13;
    width: 560px;
    height: 653.68px;
  }
  &__picture {
    top: -75px;
    left: 55px;
    z-index: -1;
    position: absolute;
    width: 296px;
    height: 567px;
  }
  &__picture-vector {
    top: -55px;
    left: -32px;
    z-index: -2;
    position: absolute;
    width: 560px;
    height: 504px;
  }
}
.social {
  margin: 4px 10px 0 0;
  background: url("./img/Sprite_b.png") no-repeat;
  height: 30px;
  width: 30px;
  background-size: 300px 500px;
}
.shape {
  background-position: 0 -65px;
}
.inst {
  background-position: -30px -65px;
}
.twitter {
  background-position: -60px -65px;
}
.facebook {
  background-position: -90px -65px;
}
