.chiropractic {
  background: rgb(250, 246, 246);
  &__block {
    @media (max-width: 767px) {
      padding: 0 20px;
      grid-template-columns: repeat(1fr 4fr);
    }
    @media (max-width: 1024px) {
      padding: 0 35px;
    }
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
  }
  &__info {
    grid-column-start: 2;
    grid-column-end: 7;
  }
  &__title {
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 67px;
    letter-spacing: 1px;
    padding-bottom: 30px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 110px;
      height: 5px;
      background: #056cde;
      top: -35px;
      border-radius: 10px;
    }
  }
  &__text {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    max-width: 480px;
    margin-right: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    padding-bottom: 30px;
  }
  &__social-media {
    grid-column: 2/3;
    margin-top: -150px;
    display: flex;
    width: 150px;
    height: 30px;
  }
  &__block-picture {
    position: relative;
    grid-row-start: 1;
    grid-column-start: 7;
    grid-column-end: 13;
    height: 650px;
    z-index: 0;
  }
  &__picture {
    top: -75px;
    left: 55px;
    z-index: -1;
    position: absolute;
    box-shadow: (15.5px at 50% 50%, rgba(20, 71, 127, 0.08) 0%, rgba(85, 120, 152, 0) 100%);
  }
  &__picture-vector {
    top: -55px;
    left: -32px;
    z-index: -2;
    position: absolute;
    width: 560px;
    height: 504px;
  }
  p {
    margin: 0;
  }
  .social {
    margin: 4px 10px 0 0;
    background: url("./img/Sprite_b.png") no-repeat;
    height: 30px;
    width: 30px;
    background-size: 300px 500px;
  }
  .shape {
    background-position: 0 -65px;
  }
  .inst {
    background-position: -30px -65px;
  }
  .twitter {
    background-position: -60px -65px;
  }
  .facebook {
    background-position: -90px -65px;
  }
}
