.chiropractic {
  background: rgb(250, 246, 246);
  &__block {
    padding: 100px 0 62px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
      @media (max-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
      }
  }
  &__info {
    z-index: 1;
    grid-column-start: 2;
    grid-column-end: 7;
  }
  &__title {
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 67px;
    letter-spacing: 1px;
    padding-bottom: 30px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 110px;
      height: 5px;
      background: #056cde;
      top: -35px;
      border-radius: 10px;
    }
    @media (max-width: 1023px) {
      font-size: 28px;
      line-height: 32px;
      letter-spacing: 1px;
    }
  }
  &__text {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    max-width: 480px;
    margin-right: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    padding-bottom: 30px;
    @media (max-width: 1023px) {
      font-size: 15px;
      line-height: 25px;
    }
  }
  &__social-media {
    @media (max-width: 1023px) {
      display: none;
    }
    grid-column-start: 2;
    grid-column-end: 6;
    display: flex;
    width: 150px;
    height: 30px;
  }

  &__img {
    display: flex;
    flex-direction: column;
    grid-column: 7/13;
    grid-row: 1/1;
    margin-top: -55px;
    margin-left: 10px;
    z-index: 0;
    @media (max-width: 1130px) {
      margin-left: 60px;
      width: 430px;
    }
    @media (max-width: 1023px) {
      max-width: 330px;
      margin-left: 10px;
      margin-top: -20px;
    }
    @media (max-width: 768px) {
      width: 244px;
      height: 220px;
      right: 0;
      top: 29px;
      margin: 0;
      position: absolute;
      padding: 0;
    }
  }
  &__img-bg {
    z-index: 1;
    position: relative;
    width: 100%;
    @media (max-width: 768px) {
      width: 244px;
      height: 220px;
      display: none;
    }
    &_mobile {
      position: absolute;
      right: 0;
      display: none;
      width: 190px;
      @media (max-width: 768px) {
        display: block;
      }
    }
  }
  &__img-spine {
    z-index: 2;
    width: 100%;
    margin-top: -94%;
    margin-left: -5px;

    @media (max-width: 768px) {
      margin: 0;
      width: 127px;
      top: 40px;
      left: 105px;position: absolute;
    }
  }
  &__shadow {
    margin: 41px auto 0 auto;
    background-image: radial-gradient(rgba(5, 45, 88, 0.04) 0%, rgba(192, 201, 209, 0.123) 100%),
      radial-gradient(rgba(30, 65, 102, 0.02) 0%, rgba(25, 65, 102, 0.027) 100%);
    border-radius: 50%;
    opacity: 0.4;
    width: 270px;
    height: 15px;
    
    @media (max-width: 1023px) {
      margin: 20px auto 0 auto;
      width: 170px;
    }
    @media (max-width: 768px) {
      width: 80px;
      height: 10px;
      margin-top: 180px;
      margin: 180px 0 0 120px;
    }
  }
  p {
    margin: 0;
  }
  .social {
    margin: 4px 10px 0 0;
    background: url("./img/Sprite_b.png") no-repeat;
    height: 30px;
    width: 30px;
    background-size: 300px 500px;
  }
  .shape {
    background-position: 0 -65px;
  }
  .inst {
    background-position: -30px -65px;
  }
  .twitter {
    background-position: -60px -65px;
  }
  .facebook {
    background-position: -90px -65px;
  }
}
