@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");

@mixin OpSa($weight, $height) {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $weight + px;
  line-height: $height + px;
}
@mixin Morat($weight, $height) {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: $weight + px;
  line-height: $height + px;
}
body {
  box-sizing: border-box;
  a {
    text-transform: uppercase;
    color: #3a4959;
    text-decoration: none;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
  }
  a:hover {
    text-transform: uppercase;
    transition: 0.5s;
    color: red($color: #000000);
    opacity: 0.5;
    text-decoration: none;
  }
  a:active {
    color: rgb(103, 145, 221);
  }
  .container {
    color: #3a4959;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 110px;

    @media (max-width: 1024px) {
      padding: 0 35px;
    }
    @media (max-width: 767px) {
      padding: 0 20px;
    }
  }
  .h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}
