.footer {
  background: rgb(250, 246, 246);
  &__block {
    @media (max-width: 768px) {
      padding-top: 20px;
    }
    @media (max-width: 1023px) {
    }
    padding-top: 100px;
  }
  &__block-top {
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 13;
    padding-bottom: 20px;
    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }
  &__contact-top {
    display: flex;
    @media (max-width: 768px) {
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }
  &__point {
    background: url(img/Sprite_b.png) no-repeat;
    background-position: -120px -68px;
    background-size: 300px;
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin-left: 3px;
  }
  &__social-media {
    grid-column: 2/3;
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 30px;
    @media (max-width: 768px) {
      grid-column-start: 1;
      grid-column-end: 5;
      margin-bottom: 30px;
    }
  }
  &__block-bot {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__information-company {
    grid-column-start: 1;
    grid-column-end: 4;
    @media (max-width: 1023px) {
      grid-column-start: 1;
      grid-column-end: 6;
    }
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      padding-bottom: 25px;
    }
  }
  &__work-time {
    grid-column-start: 4;
    grid-column-end: 8;
    @media (max-width: 1023px) {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row: 2/2;
      margin-top: -50px;
    }
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      margin: 0;
    }
  }
  &__company-rating {
    grid-column-start: 9;
    grid-column-end: 13;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }
  &__point-block {
    padding-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    @media (max-width: 768px) {
      flex-direction: row-reverse;
      padding-top: 25px;
    }
  }
  &__text-right {
    text-align: end;
    @media (max-width: 1023px) {
      font-size: 15px;
      line-height: 25px;
    }
    @media (max-width: 768px) {
      text-align: start;
      padding-bottom: 10px;
    }
  }
  &__text-left {
    padding-top: 5px;
    @media (max-width: 1023px) {
      font-size: 15px;
      line-height: 25px;
    }
    @media (max-width: 768px) {
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }
  &__links-top {
    @media (max-width: 768px) {
      grid-column-start: 1;
      grid-column-end: 5;
      padding-bottom: 30px;
    }
  }
  &__link {
    padding-right: 15px;
    @media (max-width: 768px) {
      padding-right: 10px;
    }
  }

  .social {
    margin: 4px 10px 0 0;
    background: url("./img/Sprite_b.png") no-repeat;
    height: 30px;
    width: 30px;
    background-size: 300px 500px;
  }
  .shape {
    background-position: 0 -65px;
  }
  .inst {
    background-position: -30px -65px;
  }
  .twitter {
    background-position: -60px -65px;
  }
  .facebook {
    background-position: -90px -65px;
  }
  p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
  }
  h3 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
  }
}
