.header {
  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 40px 0 75px 0;
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hamburger {
    width: 26px;
    height: 18px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1024px) {
      display: flex;
    }
    &__line {
      background: #056CDE;
      border-radius: 50px;
      height: 2px;
    }
  }
  &__links {
    display: flex;
  }
  &__link {
    @media (max-width: 1024px) {
      display: none;
    }
  }
  &__contact {
    display: flex;
  }
  &__phone {
    @media (max-width: 1024px) {
      display: none;
    }
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 30px 0 0;
  }
  &__logo {
    background: url("./img/Sprite_b.png");
    width: 221.07px;
    height: 65.68px;
    background-size: 300px 500px;
    margin-right: 78.93px;
  }
  a {
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    margin-right: 30px;
    text-decoration: none;
  }
}
