.header {
  background: rgb(250, 246, 246);
  &__block {
    @media (max-width: 767px) {
      grid-template-columns: repeat(1fr 4fr);
    }
    @media (max-width: 1023px) {
    }
    padding: 70px 0 75px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__links {
    margin-bottom: 10px;
    display: flex;
  }
  &__link {
    white-space: nowrap;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    margin-right: 30px;
    text-decoration: none;
    @media (max-width: 1023px) {
      display: none;
    }
  }
  &__contact {
    margin-bottom: 12px;
    display: flex;
  }
  &__phone {
    padding: 5px 20px 0 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    @media (max-width: 1250px) {
      display: none;
    }
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  &__logo {
    background: url("./img/Sprite_b.png");
    width: 221.07px;
    height: 65.68px;
    background-size: 300px 500px;
    margin-right: 78.93px;
    @media (max-width: 767px) {
      background-size: 178px 303px;
      background-position-y: 0;
      width: 132px;
      height: 40px;
      z-index: 2;
    }
  }
  .hamburger {
    z-index: 2;
    width: 26px;
    height: 18px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1023px) {
      display: flex;
    }
    &__line {
      background: #056cde;
      border-radius: 50px;
      height: 2px;
    }
  }
}
