<div class="chiropractic">
  <div class="container">
    <div class="chiropractic__block">
      <div class="chiropractic__info">
        <h1 class="chiropractic__title">Healthy Spine Family Chiropractic</h1>
        <p class="chiropractic__text">Healthy Spine Family Chiropractic was created for the necessity
          of custom made
          chiropractic treatment for all ages. We understand that not all bodies are the same.</p>
        <a href="#" class="chiropractic__button">Get In Touch Now
        </a>
      </div>
      <div class="chiropractic__social-media">
        <a href="">
          <div class="shape social"></div>
        </a>
        <a href="">
          <div class="inst social"></div>
        </a>
        <a href="">
          <div class="twitter social"></div>
        </a>
        <a href="">
          <div class="facebook social"></div>
        </a>
      </div>
      <div class="chiropractic__img">
        <img src="./img/Vectormain.png" class="chiropractic__img-bg">
        <img src="./img/bg-spine_mobile.png" class="chiropractic__img-bg_mobile">
        <img src="./img/spine.png" class="chiropractic__img-spine">
        <div class="chiropractic__shadow"></div>
      </div>
    </div>
  </div>
</div>