<div class="chiropractic">
  <div class="container">
    <div class="chiropractic__block">
      <div class="chiropractic__info">
        <h1 class="chiropractic__title">Healthy Spine Family Chiropractic</h1>
        <p class="chiropractic__text">Healthy Spine Family Chiropractic was created for the necessity
          of custom made
          chiropractic treatment for all ages. We understand that not all bodies are the same.</p>
        <a href="" class="chiropractic__button">Get In Touch Now</a>
      </div>
      <div class="chiropractic__social-media">
        <a href="">
          <div class="shape social"></div>
        </a>
        <a href="">
          <div class="inst social"></div>
        </a>
        <a href="">
          <div class="twitter social"></div>
        </a>
        <a href="">
          <div class="facebook social"></div>
        </a>
      </div>
      <div class="chiropractic__block-picture">
        <img src="./img/1.png" class="chiropractic__picture" alt="">
        <img src="./img/Vectormain.png" class="chiropractic__picture-vector" alt="">
      </div>
    </div>
  </div>
</div>