<div class="treatment">
    <div class="container">
        <div class="treatment__block">
            <div class="treatment__info">
                <img src="./img/2.png" class="treatment__img" alt="">
            </div>
            <div class="treatment__about">
                <h2 class="treatment__title">Comprehensive Pain Treatment</h2>
                <p class="treatment__text">Healthy Spine Family Chiropractic was created for the necessity of custom
                    made
                    chiropractic treatment for all ages. We understand that not all bodies are the same and
                    so your chiropractic treatment will be tailored to you. Healthy Spine Family
                    Chiropractic was created for the necessity of custom made chiropractic treatment for all
                    ages. We understand that not all bodies are the same and so your chiropractic treatment
                    will be tailored to you. Healthy Spine Family Chiropractic was created for the necessity
                    of custom made chiropractic treatment for all ages. We understand that not all bodies
                    are the same and so your chiropractic treatment will be tailored to you.</p>
                <a href="" class="treatment__button">Learn more 
                </a>
            </div>
            <div class="treatment__bcg"></div>
        </div>
    </div>
</div>