<div class="services">
    <div class="container">
        <div class="services__block">
            <h1 class="services__main-title">Services</h1>
            <div class="services__Chiropractic service-block">
                <img src="./img/3.png" class="services__Services-picture" alt="">
                <div class="services__about">
                    <h3 class="services__title">Chiropractic</h3>
                    <p class="services__text">Chiropractic care is a unique science that focuses on restoring and
                        maintaining
                        health, while most other healing arts are designed to treat disease.</p>
                    <div class="services__links">
                        <a href="">CHIROPRACTIC ADJUSTMENT</a>
                        <a href="">FLEXIOS-SIDTRACTION</a>
                        <a href="">THOMPSON</a>
                        <a href="">VIEW ALL SERVICES</a>
                    </div>
                    <a class="services__links-mobile" href="#">Chiropractic </a>
                </div>
            </div>
            <div class="services__Acupuncture service-block">
                <img src="./img/4.png" class="services__Acupuncture-picture" alt="">
                <div class="services__about">
                    <h3 class="services__title">Acupuncture</h3>
                    <p class="services__text">Healthy Spine Family Chiropractic, serves the Thornton and
                        surrounding communities and it provides a natural, conservative approach to your health care.
                    </p>
                    <div class="services__links">
                        <a href="">CUPPING</a>
                        <a href="">CHINESE HERBS</a>
                    </div>
                    <a class="services__links-mobile" href="#"> Acupuncture </a>
                </div>
            </div>
            <div class="services__Massage service-block">
                <img src="./img/5.png" class="services__Massage-picture" alt="">
                <div class="services__about">
                    <h3 class="services__title">Massage</h3>
                    <p class="services__text">Healthy Spine Family Chiropractic, serves the Thornton and surrounding
                        communities
                        and it provides a natural, conservative approach to your health care.</p>
                    <div class="services__links">
                        <a href="">DEEP TISSUE</a>
                        <a href="">TRUGGER POINT</a>
                        <a href="">SPORT MASSAGE</a>
                        <a href="">MYOFASCIAL RELEASE</a>
                    </div>
                    <a class="services__links-mobile" href="#"> Massage </a>
                </div>
            </div>
            <div class="services__bcg"></div>
        </div>
    </div>
</div>