<div class="advantages">
    <div class="container">
        <div class="advantages__block">
            <div class="advantages__info">
                <h2 class="advantages__main-title">Advantages</h2>
                <p class="advantages__main-text">Healthy Spine Family Chiropractic was created for the necessity of
                    custom made chiropractic treatment for all ages.</p>
            </div>
            <div class="advantages__awards-block">
                <div class="advantages__awards one">
                    <img src="" class="advantages__picture-one" alt="">
                    <div class="advantages__info-block">
                        <h3 class="advantages__title">Multi Disciplinary Practice</h3>
                        <p class="advantages__text">We offer chiropractic, massage and acupuncture.</p>
                    </div>
                </div>
                <div class="advantages__awards two">
                    <img src="" class="advantages__picture-two" alt="">
                    <div class="advantages__info-block">
                        <h3 class="advantages__title">The Doctor Speaks Spanish</h3>
                        <p class="advantages__text">We strive to provide complete care for our patients. We speak
                            English and Spanish.</p>
                    </div>
                </div>
                <div class="advantages__awards three">
                    <img src="" class="advantages__picture-three" alt="">
                    <div class="advantages__info-block">
                        <h3 class="advantages__title">Over 10 Years of Experience</h3>
                        <p class="advantages__text">The Doctor has 10+ years of experience in the chiropractic.</p>
                    </div>
                </div>
                <div class="advantages__awards four">
                    <img src="" class="advantages__picture-four" alt="">
                    <div class="advantages__info-block">
                        <h3 class="advantages__title">Insurance</h3>
                        <p class="advantages__text">We accept most insurance and file the claims for you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>