<div class="doctor">
    <div class="container">
        <div class="doctor__block">
            <img src="./img/6.png" class="doctor__photo" alt="">
            <div class="doctor__about">
                <h2 class="doctor__title">Dr. Osvaldo «Ozzie» Gratacos</h2>
                <p class="doctor__text">Dr. Osvaldo “Ozzie” Gratacos is a licensed chiropractor serving the Thornton and surrounding communities. Dr. Gratacos graduated from Palmer College of Chiropractic in Florida. After graduating, Dr. Gratacos went back to his home in Puerto Rico to open a practice for 4 years before practicing in Lakewood, Colorado. He is bilingual (spanish/english). Ozzie is certified in extremity adjustments, treatment in golf related injuries, and Cox technique for herniated disc. </p>
            </div>
        </div>
    </div>
</div>