<div class="Testimonials">
    <div class="container">
        <div class="Testimonials__block">
            <h1 class="Testimonials__main-title">Testimonials</h1>
            <div class="Testimonials__block-about one">
                <div class="Testimonials__img-block">
                    <div class="Testimonials__img"></div>
                    <div class="Testimonials__img"></div>
                    <div class="Testimonials__img"></div>
                    <div class="Testimonials__img"></div>
                    <div class="Testimonials__img"></div>
                </div>
                <p class="Testimonials__text">I first visited Dr Ozzie after a sports injury took me out of the game.
                    Dr. Gratacos helped me – not just by relieving my pain, but by showing me how to avoid future
                    injuries. Now I know what not to do so I can keep...</p>
                <a href="">
                    <div class="Testimonials__link">View More</div>
                </a>
                <h3 class="Testimonials__title">Tony D.</h3>
            </div>
            <div class="Testimonials__block-about two">
                <div class="Testimonials__img-block">
                    <div class="Testimonials__img"></div>
                    <div class="Testimonials__img"></div>
                    <div class="Testimonials__img"></div>
                    <div class="Testimonials__img"></div>
                    <div class="Testimonials__img"></div>
                </div>
                <p class="Testimonials__text">Absolutely amazing staff! I will never go anywhere else to get my back and
                    neck fixed! Came in after an auto accident and had me feeling better by the next week! I will
                    recommend to everyone I know!</p>
                <h3 class="Testimonials__title">Christopher C.</h3>
            </div>
            <div class="Testimonials__slide-block">
                <div class="Testimonials__arrow-left"></div>
                <div class="Testimonials__point-block">
                    <div class="Testimonials__point"></div>
                    <div class="Testimonials__point"></div>
                    <div class="Testimonials__point"></div>
                    <div class="Testimonials__point"></div>
                </div>
                <div class="Testimonials__arrow-right"></div>
            </div>
        </div>
    </div>
</div>