<div class="Contact">
    <div class="container">
        <div class="Contact__block">
            <div class="Contact__content">
                <h1 class="Contact__title">Contact Us Today</h1>
                <p class="Contact__text">We are happy to assist you with any questions you may have regarding your
                    chiropractic needs or insurance questions. You can make an appointment online or by giving us a call
                    at
                </p>
                <div><a href="" class="Contact__phone">(303) 457-2040</a></div>
                <a href="" class="Contact__button">Make an Appointment</a>
                <div class="Contact__map"></div>
            </div>
        </div>
    </div>
</div>