<div class="Contact">
    <div class="container">
        <div class="Contact__block">
            <h1 class="Contact__main-title">Contact Us Today</h1>
            <p class="Contact__text">We are happy to assist you with any questions you may have regarding your
                chiropractic needs or insurance questions. You can make an appointment online or by giving us a call at
            </p>
            <h3 class="Contact__number">(303) 457-2040</h3>
            <div class="Contact__button">Make an Appointment</div>
            <div class="Contact__map"></div>
        </div>
    </div>
</div>