<div class="footer">
    <div class="container">
        <div class="footer__block">
            <div class="footer__block-top">
                <div class="footer__links-top">
                    <a href="#" class="header__link">OUR STORY</a>
                    <a href="#" class="header__link">SERVICES</a>
                    <a href="#" class="header__link">FAQ</a>
                    <a href="#" class="header__link">CONTACT</a>
                </div>
                <div class="footer__contact-top">
                    <div class="footer__social-media">
                        <a href="">
                            <div class="shape social"></div>
                        </a>
                        <a href="">
                            <div class="inst social"></div>
                        </a>
                        <a href="">
                            <div class="twitter social"></div>
                        </a>
                        <a href="">
                            <div class="facebook social"></div>
                        </a>
                    </div>
                    <a href="" class="footer__button">Contact Us
                    </a>
                </div>
            </div>
            <div class="footer__block-bot">
                <div class="footer__information">
                    <div class="footer__information-company">
                        <h3 class="footer__time">(303) 457-2040</h3>
                        <p class="footer__text-left">10313 Washington St., Thornton, CO 80229</p>
                    </div>
                    <div class="footer__work-time">
                        <p class="footer__text-left">Monday, Wednesday, Thursday — 9:00 AM - 6:00 PM</p>
                        <p class="footer__text-left">Friday — 9:00 AM - 1:00 PM</p>
                        <p class="footer__text-left">Saturday — 10:00 AM - 1:00 PM</p>
                    </div>
                    <div class="footer__company-rating">
                        <div class="footer__point-block">
                            <div class="footer__point"></div>
                            <div class="footer__point"></div>
                            <div class="footer__point"></div>
                            <div class="footer__point"></div>
                            <div class="footer__point"></div>
                            <p class="footer__text-right">Company rating:</p>
                        </div>
                        <p class="footer__text-right">© Copyright — Healthy Spine Family Chiropractic 2019</p>
                        <p class="footer__text-right">Web Design — Direct Line Development</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>