<div class="footer">
    <div class="container">
        <div class="footer__block-top">
            <div class="footer__links-top">
                <a href="#" class="header__link">OUR STORY</a>
                <a href="#" class="header__link">SERVICES</a>
                <a href="#" class="header__link">FAQ</a>
                <a href="#" class="header__link">CONTACT</a>
            </div>
            <div class="footer__contact-top">
                <div class="social-media">
                    <a href="">
                        <div class="shape social"></div>
                    </a>
                    <a href="">
                        <div class="inst social"></div>
                    </a>
                    <a href="">
                        <div class="twitter social"></div>
                    </a>
                    <a href="">
                        <div class="facebook social"></div>
                    </a>
                </div>
                <div class="footer__button"></div>
            </div>
        </div>
        <div class="footer__block-bot">
            <div class="footer__information">
                <div class="footer__information-company">
                    <h3 class="title-time"></h3>
                    <p></p>
                    <p></p>
                </div>
                <div class="footer__work-time">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
            <div class="footer__company-rating">
                <p></p>
                <div class="footer__point"></div>
                <div class="footer__point"></div>
                <div class="footer__point"></div>
                <div class="footer__point"></div>
                <div class="footer__point"></div>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>