<header class="header">
  <div class="container">
    <div class="header__block">
      <div class="header__title">
        <div class="header__logo"></div>
        <div class="header__links">
          <a href="#" class="header__link">OUR STORY</a>
          <a href="#" class="header__link">SERVICES</a>
          <a href="#" class="header__link">FAQ</a>
          <a href="#" class="header__link">CONTACT</a>
        </div>
      </div>
      <div class="header__contact">
        <div class="hamburger">
          <div class="hamburger__line"></div>
          <div class="hamburger__line"></div>
          <div class="hamburger__line"></div>
        </div>
        <div class="header__phone">(303)457-2040</div>
        <a href="#" class="header__button">SHEDULE APPOINTMENT</a>
      </div>
    </div>
  </div>
  </div>
</header>