<header class="header">
  <div class="container">
    <div class="information">
      <div class="header__group">
        <div class="header__title">
          <div class="spine"></div>
          <div class="header__logo">
            <a href="./index.html" class="header__link story">OUR STORY</a>
            <a href="./contacts.html" class="header__link services">SERVICES</a>
            <a href="">FAQ</a>
            <a href="">CONTACT</a>
          </div>
        </div>
        <div class="header__info">
          <div class="header__number">(303)457-2040</div>
          <div class="header__button">SHEDULE APPOINTMENT</div>
        </div>
      </div>
    </div>
  </div>
</header>